* {
    font-family: "Grandstander", sans-serif;
}

body {
    background-color: rgb(163, 243, 243);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

main {
    justify-content: center;
    background-color: #665a48;
    width: 80%;
    border: 10px solid #485166;
    border-radius: 12px;
    margin: 30px 0px;
    padding: 0px 20px;
}

.center {
    width: 95%;
    background-color: #30d9e6;
    border: 10px solid #e6a94a;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 30px 0px;
    
}

.center2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    text-align: center;
}

p {
    font-size: large;
}

a {
    color: #3066e6;
}

header, footer {
    width: 80%;
    height: 80px;
    background-color: #3066e6;
    border: 10px solid #485166;
    border-radius: 12px;
    text-align: center;
}

header .left, footer .left {
    float: left;
    height: 100%;
}

header .right, footer .right {
    float: right;
    height: 100%;
}

header p, footer p {
    color: white;
}

input {
    background-color: #d0daf1;
    border: 2px solid #485166;
    border-radius: 3px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input:hover {
    background-color: #f4f4f6;
    border: 2px solid #004cff;
    border-radius: 3px;
    transition: background-color 0.1s ease, border-color 0.1s ease;
}

textarea {
    background-color: #d0daf1;
    border: 2px solid #485166;
    border-radius: 3px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

textarea:hover {
    background-color: #f4f4f6;
    border: 2px solid #004cff;
    border-radius: 3px;
    transition: background-color 0.1s ease, border-color 0.1s ease;
}